.coverPage::before{
   
    height: 100vh;
    background-image: url(../../public/glassesImage/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    background-position: center;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px); 
    z-index: -1;
}
.title{
    line-height: 80px;
}
.personCover{
    position: relative;
}
.personDetail{
    position: absolute;
    bottom: -115px;
    left: 0;
}
.personGlass{
    position: absolute;
    width: 180px;
    bottom: 90px;
    left: 60px;
}
.glassCover{
    margin-top: 200px;
}
.glassItem{
    cursor: pointer;
}